.dropdown {
  width: 47%;
  position: relative;
}

.dropdown__button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 15px;
  border: 3px solid var(--primary-color);
  border-radius: 15px;
  color: var(--primary-color);
  cursor: pointer;
}

.dropdown__button::after {
  content: "";
  position: absolute;
  top: 45%;
  right: 15px;
  width: 10px;
  height: 10px;
  border-left: 3px solid var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
  transform: translateY(-45%) rotate(-45deg);
  pointer-events: none;
  transition: 0.2s ease;
}

.dropdown__button_active::after {
  transform: translateY(-15%) rotate(135deg);
}

.dropdown__list {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  border: 3px solid var(--primary-color);
  opacity: 0;
  border-radius: 15px;
  background: var(--primary-color);
  overflow: hidden;
  visibility: hidden;
  transition: 0.2s ease;
}

.dropdown__list--visible {
  opacity: 1;
  visibility: visible;
}

.dropdown__list-item {
  padding: 15px;
  color: #e5e5e5;
  border-radius: 15px;
  transition: 0.2s ease;
  cursor: pointer;
}

.dropdown__list-item--active {
  background-color: #e5e5e5;
  border-radius: 15px;
  color: inherit;
}

.dropdown__list-item:hover {
  color: var(--secondary-color);
}

@media screen and (max-width: 576px) {
  .dropdown {
    width: 100%;
  }
}
