* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

body {
  font-family: var(--font-risque);
  color: var(--primary-color);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.disable-slider {
  overflow: unset;
}

.section {
  min-height: 100vh;
  padding: 50px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .section {
    padding: 20px;
  }
}

.page-slider.swiper-container {
  height: 100vh;
  overflow: hidden;
}

.big-snowflake {
  position: absolute;
  bottom: -35px;
  left: -190px;
  z-index: 1;
}

.big-snowflake img,
.big-snowflake source {
  width: 447px;
  height: 448px;
  transform: rotate(-10deg);
  animation: rotateSnowflake 70s linear infinite;
}

@media screen and (max-width: 768px) {
  .big-snowflake {
    display: none;
  }
}
