.header {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
  transition: 0.3s ease;
}

.header__logo img {
  width: 198px;
  height: 65px;
}

.header__menu {
  display: flex;
  align-items: center;
  margin-right: 80px;
  font-family: var(--font-roboto);
}

.header__menu-list {
  list-style: none;
  display: flex;
}

.header__menu-list li {
  margin: 0 30px;
}

.menu-list__item {
  transition: 0.3s linear;
}

.menu-list__item .white {
  position: absolute;
  right: 0;
  top: 0;
  color: var(--primary-color);
  transition: 0.3s ease;
}

.menu-list__item .red {
  position: absolute;
  right: 0;
  top: 100%;
  color: var(--secondary-color);
  transition: 0.3s ease;
}

.menu-list__link {
  display: block;
  position: relative;
  line-height: 1;
  color: transparent;
  overflow: hidden;
  cursor: pointer;
}

.menu-list__link:hover .white {
  top: -100%;
}

.menu-list__link:hover .red {
  top: 0;
}

.header__burger {
  position: absolute;
  top: 50%;
  right: 40px;
  z-index: 10;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  cursor: pointer;
}

.header__burger-lines {
  width: 30px;
  height: 25px;
  position: relative;
}

.header__burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--primary-color);
  left: 0;
  transition: 0.25s ease-in-out;
}

.header__burger span:nth-child(1) {
  top: -1px;
  transform-origin: left center;
}

.header__burger span:nth-child(2) {
  top: 10px;
  transform-origin: left center;
}

.header__burger span:nth-child(3) {
  top: 20px;
  transform-origin: left center;
}

.sidebar {
  position: absolute;
  top: 0;
  right: -100%;
  z-index: 2;
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-size: 32px;
}

.sidemenu__list {
  text-align: center;
  list-style: none;
}

.sidemenu__list-item {
  margin: 20px 0;
}

.sidemenu__link {
  display: block;
  color: inherit;
  transition: 0.2s ease;
}

.sidemenu__link:hover {
  transform: scale(1.2);
}

.bg-circle {
  position: absolute;
  top: 50%;
  right: 40px;
  z-index: 1;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-color);
  border-radius: 60px 0px 60px 60px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  transform: translateY(-50%);
}

@media screen and (max-width: 992px) {
  .header__menu-list li {
    margin: 0 15px;
  }

  .header__burger {
    margin-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 26px;
  }

  .header__menu-list {
    display: none;
  }
}
