.hero {
  position: relative;
  background: var(--hero-primary-color);
}

.hero__info {
  padding: 150px 100px;
  position: relative;
  z-index: 1;
}

.hero__title {
  font-size: 72px;
  margin-bottom: 20px;
}

.hero__subtitle {
  font-size: 38px;
  margin-bottom: 25px;
}

.hero__button {
  display: block;
  width: 185px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  border-radius: 20px 20px 20px 0px;
  border: 1px solid var(--primary-color);
  font-family: var(--font-roboto);
  color: inherit;
  transition: 0.3s ease-in-out;
}

.hero__button:hover {
  background-color: var(--primary-color);
  color: var(--hero-primary-color);
}

.hero__arrow {
  position: absolute;
  left: 150px;
  bottom: 10%;
  z-index: 1;
  cursor: pointer;
}

.hero__snowflake {
  position: absolute;
  bottom: 0;
  left: -190px;
  z-index: 0;
}

.hero__snowflake img {
  width: 447px;
  height: 448px;
  transform: rotate(-10deg);
  animation: rotateSnowflake 70s linear infinite;
}

@keyframes rotateSnowflake {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hero__santa {
  position: absolute;
  bottom: -5px;
  right: 0;
  z-index: 0;
  display: flex;
  justify-content: flex-end;
  width: 60%;
}

.hero__santa img {
  width: 100%;
  object-fit: cover;
}

.hero__cloud {
  position: absolute;
  top: 28%;
  right: 68%;
}

.cloud__circle {
  position: relative;
  width: 220px;
  height: 170px;
  background: var(--primary-color);
  border-radius: 110px / 85px;
  filter: drop-shadow(4px 5px 15px rgba(255, 255, 255, 0.25));
}

.cloud__triangle {
  position: absolute;
  top: 0;
  right: -10px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 25px 100px 25px;
  border-color: transparent transparent var(--primary-color) transparent;
  transform: rotate(58deg);
  filter: drop-shadow(4px 5px 15px rgba(255, 255, 255, 0.25));
}

.cloud__text {
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
}

@media screen and (max-width: 1200px) {
  .hero__cloud {
    top: 25%;
  }
}

@media screen and (max-width: 992px) {
  .hero__cloud {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .hero__info {
    padding-left: 0;
    padding-right: 0;
  }

  .hero__title {
    font-size: 52px;
    margin-bottom: 13px;
  }

  .hero__subtitle {
    font-size: 28px;
    margin-bottom: 42px;
  }

  .hero__arrow,
  .hero__snowflake {
    display: none;
  }

  .hero__santa {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .hero__button {
    margin: 0 auto;
  }
}
