.small-snowflake {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}

.small-snowflake svg {
  width: 100%;
  height: 100%;
}

.small-snowflake circle {
  fill: white;
}
