@import "../libs/css/normalize.css";
@import "./default.css";
@import "../libs/css/fullpage.min.css";
@import "./fonts.css";
@import "./header.css";
@import "./hero.css";

.section {
  min-height: 100vh;
  padding: 50px;
  background: #141429;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .section {
    padding: 20px;
  }
}
